{% extends "base.html" %}

{% block content %}

<h1 class="text-3xl font-bold underline">
Lista de Productos
</h1>

<ul>
    {% for producto in productos %}
        <li>
            {{ producto.nombre }}
            <p>
                - Precio: {{ producto.precio }} USD
            </p>
            {% if producto.imagen %}
                <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }} " style="max-width: 200px; height: auto;">
            {% endif %}
        </li>
    {% empty %}
        <li>No hay productos disponibles.</li>
    {% endfor %}
</ul>
{% endblock %}